h1 #logo { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
}
#search-form {
    display: flex;
    justify-content: center;
}
.search-bar {
    border-radius: 25px;
    border-width: thin;
    padding: 5px;
    width: 400px;
}
.submit-button {
    opacity: 0.75;
}