*{
    font-family: Arial, Helvetica, sans-serif;
}

#topnav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2.5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
      display: inline;
  }

  .topright {

  }

  .topleft {

  }

h1 #logo { 
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17rem;
    height: auto;
    top: 10rem;
}

#search-form {
    position: relative;
    display: flex;
    justify-content: center;
    top: 10rem;
}

.search-bar {
    font-size: 1em;
    border-radius: 25rem;
    background-color: white;
    border: thin solid hsl(239, 1%, 89%);
    padding: 1.4rem;
    text-align: left;
    outline: none;
    width: 36rem;
    height: 2.6rem;
    display: flex;
    justify-content: center;
}

.search-bar:hover {
    box-shadow: 0em 0.1em 0.4em hsl(239, 1%, 85%), 0em 0em 0.4em hsl(239, 1%, 85%) ;
}

.submit-button {
    position: relative;
    border: thin solid hsl(239, 0%, 95%);
    background-color: hsl(239, 0%, 95%);
    border-radius: 0.25rem;
    width: auto;
    height: 2.1rem;
    padding: 0rem 0.75rem 0rem 0.75rem;
    left: 10rem;
    top: 1rem;
}

.divider {
    width: 0.1rem;
    height: auto;
    display: inline-block;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}